html {margin:0;padding:0;border:0;}

body {
    color:#fff;
    background-color:#171c25;
    font-family:arial, sans-serif;
    /*font-size:12pt;*/
}

.container-override {
    padding-right: 10%;
    padding-left: 10%;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.switch-lb-left {
    padding-right: 45px;
}

.secondary-color {
    color: #b245f0;
}

.center-text {
    text-align: center;
}

.update-container {
    float: right;
}

.refresh-container {
    overflow: auto;
}

.helper-text {
    text-align: left;
}

/***********************************************/
/* heading styles                              */
/***********************************************/

.header-container {
    padding: 20px 0;
}
h1, h2 {
    color: #f035a0;
}
h3 {
    color: #b245f0;
}
h4 {
    color: #8253f0;
}

/***********************************************/
/* navbar styles                               */
/***********************************************/

.navbar-link {
    color: #fff !important;
}
/*.navbar-item {*/
    /*color: #fff !important;*/
/*}*/
.navbar-item:hover .navbar-link {
    color: #f035a0 !important;
}

.navbar-text {
    padding: 0;
}

/***********************************************/
/* link styles                                 */
/***********************************************/
/*a:link {color:#041EDE;background-color:transparent;}
a:hover {color:#FF00FF;background-color:transparent;}
a:visited {color:#FE482A;background-color:transparent;}*/

/***********************************************/
/* division styles                             */
/***********************************************/
#banner-div {text-align:center;}
#page-content-div {}
#clear-div {clear:both;}
#left-div {float:left;width:20%;}
#right-div {float:right;width:80%;}

/***********************************************/
/* paragraph styles                            */
/***********************************************/
.cent {text-align:center;}
.heads {font-family:arial,sans-serif;font-size:1.2em;text-align:left;}
.curr_page {color:red;font-weight:bolder;text-shadow:black;border:1px solid red;}
.result {color:inherit;font-weight:bold;text-shadow:black;}

/***********************************************/
/* horizontal line styles                      */
/***********************************************/
hr {width:100%;height:1px;}
.deepline {width:100%;height:10px;color:#0000FE;background-color:#0000FF;}

/***********************************************/
/* sidebar styles                              */
/***********************************************/

.sidebar {
    position: fixed;
}

.navbar {
    background-color:#000;
    color:#fff;
}

/***********************************************/
/* custom switch styles                        */
/***********************************************/

.custom-control-label::before {
    background-color: transparent;
}

.custom-control-input:checked~.custom-control-label::before {
    border-color: #f035a0;
    background-color: #f035a0;
}

.custom-control-input:not(:disabled):active~.custom-control-label::before {
    color: #fff;
    background-color: #b245f0;
    border-color: #b245f0;
}

.custom-switch .custom-control-label::after {
    top: calc(.25rem + 2px);
}

.custom-switch {
    padding-left: 0px;
}

/***********************************************/
/* button switch styles                        */
/***********************************************/

.btn.primary-color {
    border: none;
}

.btn.primary-color:focus, .btn.primary-color:active, .btn.primary-color:hover {
    background-color: #C02A80 !important;
    border: none !important;
    box-shadow: none;
}

.button {
    margin: 0px 20px 20px 20px;
}

.primary-color {
    background-color: #f035a0;
    color: #fff;
}

/*.sendMessage-btn-container {
    text-align: center;
}*/

/***********************************************/
/* form styles                                 */
/***********************************************/

.column {
    display: inline-block;
    float: left;
    width: 170px;
    padding: 10px 10px 0px 20px;
    z-index: 999999;
}

/* Clear floats after the columns */
.rows:after {
    content: "";
    display: table;
    clear: both;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.login-field {
    margin-bottom: 30px;
}

/*
@media (max-width: ) {

}*/

/***********************************************/
/* spinner styles                              */
/***********************************************/

.loader {
    display: none;
    border: 6px solid #2b3444;
    border-radius: 50%;
    border-top: 6px solid #b245f0;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/***********************************************/
/* img styles                                  */
/***********************************************/

.chart {
    max-width: 100%;
    height: auto;
    margin-bottom: 3%;
}

/***********************************************/
/* table overrides                             */
/***********************************************/

/*#message-table_filter {*/
    /*display: none;*/
/*}*/

.paginate_button.page-item a {
    background-color: #000;
    color: #fff;
    border: none;
}

.paginate_button.page-item.active a {
    background-color: #f035a0;
    color: #fff;
    border: none;
}

.paginate_button.page-item.disabled a {
    background-color: #000;
    color: #6a6a6a;
}

.page-link:hover {
    z-index: unset;
}

.page-link:focus {
    box-shadow: none;
}

/***********************************************/
/* signup form styles                          */
/***********************************************/

.signup-form {
    width: 200%;
}