{% extends 'banner.html.twig' %}
{% block title %}Administrator Dashboard{% endblock %}
{% block content %}
    <main>
        <div class="header-container">
            <h2 class="display-4">
                {{ page_heading_2 }}
                <small class="text-muted">{{ page_heading_1 }}</small>
            </h2>
        </div>
    </main>
{% endblock %}