{% extends 'banner.html.twig' %}
{% block content %}
    <main>
        <div class="header-container">
            <h2 class="display-4">
                {{ page_heading_2 }}
                <small class="text-muted">{{ page_heading_1 }}</small>
            </h2>
        </div>
        <div>
            <h3>Heater Temperature Over Time</h3>
            <img src="{{ line_chart }}"  class="chart"/>
            <h3>Proportion of Each Keypad Input</h3>
            <img src="{{ pie_chart }}"  class="chart"/>
        </div>
    </main>
{% endblock %}