{% extends 'banner.html.twig' %}
{% block content %}
    <main>
        <div class="header-container">
            <h2 class="display-4">
                {{ page_heading_2 }}
                <small class="text-muted">{{ page_heading_1 }}</small>
            </h2>
        </div>
        <div class="text-center form-signin">
            <form action="{{ action }}" method="{{ method }}">
                <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt=""
                     width="72" height="72">
                <h1 class="h3 mb-3 font-weight-normal secondary-color">Please sign in</h1>
                <div class="form-group login-field">
                    <label for="inputUsername" class="sr-only">Username</label>
                    <input name="username" type="text" id="inputUsername" class="form-control" placeholder="Username"
                           required
                           autofocus>
                    <small id="emailHelp" class="form-text text-muted helper-text">Enter Username value here</small>
                </div>
                <div class="form-group login-field">
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input name="password" type="password" id="inputPassword" class="form-control"
                           placeholder="Password"
                           required>
                    <small id="emailHelp" class="form-text text-muted helper-text">Enter Password here</small>
                </div>
                <button class="btn btn-primary btn-block primary-color" type="submit">Sign in</button>
                <p class="mt-5 mb-3 text-muted">&copy; 2019-2020</p>
            </form>
        </div>
    </main>
{% endblock %}